In [1]:
import random
import pandas as pd
import numpy as np
import implicit
import scipy.sparse as sparse
from scipy.sparse.linalg import spsolve
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
import json
import pickle

In [2]:
min_max = MinMaxScaler()

In [3]:
product_names=json.load(open("data/docs/product_name_mapping.json","r"))

In [4]:
raw_data = pd.read_csv("./data/part-aa_2.csv", encoding="utf-8")
raw_data["name"] = raw_data.product_id.apply(lambda x: product_names[str(x)].replace("-"," "))
raw_data["views"] = 1 
raw_data.head()

,time,user_id,product_id,belong_cate_lvl1_id,belong_cate_lvl2_id,belong_cate_lvl3_id,belong_cate_lvl1_name,belong_cate_lvl2_name,belong_cate_lvl3_name,href,name,views
0,2016-04-05 15:30:17,DB2D6D6376576EE1389B2902BA2FE75F,2964082,220,229,246,Sức khỏe & Làm đẹp,Chăm sóc da nữ,"Kem lột, trị mụn",https://www.sendo.vn/san-pham/bo-san-pham-tri-...,bo san pham tri mun,1
1,2016-04-05 15:30:17,99908114E0CC19472ADFDE66F3492DA0,2792049,1366,1376,1379,Đồng hồ,Đồng hồ khác,Đồng hồ đôi,https://www.sendo.vn/san-pham/dong-ho-cao-cap-...,dong ho cao cap cap rolex chat nam dep ben y hinh,1
2,2016-04-05 15:30:18,71A02196944D7EE4F2B6BDFC42AD68B5,1264651,138,1295,1297,Mẹ và bé,Thời trang gia đình,Đầm đôi,https://www.sendo.vn/san-pham/dam-doi-me-va-co...,dam doi me va cong chua sac do,1
3,2016-04-05 15:30:20,E55AFC7079F258F2044B0C24FCB0F87D,2025252,220,229,234,Sức khỏe & Làm đẹp,Chăm sóc da nữ,Kem chống nắng,https://www.sendo.vn/san-pham/chong-nang-mini-...,chong nang mini innisfree waterproof,1
4,2016-04-05 15:30:21,A1CC4051DE5DBE979AB2C012AB9D0EF8,2913523,528,1428,1430,Phụ kiện công nghệ,Thiết bị đeo công nghệ,Mắt kính thông minh,https://www.sendo.vn/san-pham/kinh-thuc-te-ao-...,kinh thuc te ao 3d vr box,1

In [5]:
data = raw_data[["user_id","product_id","name","belong_cate_lvl3_id","href","views"]].dropna()

In [6]:
data = data.groupby(["user_id","product_id","name","belong_cate_lvl3_id","href"]).sum().reset_index()

In [7]:
# Convert artists names into numerical IDs
data['user_id_code'] = data['user_id'].astype("category").cat.codes
data['product_id_code'] = data['product_id'].astype("category").cat.codes

In [8]:
user_id_test = 102
user_data = data[data.user_id_code==user_id_test].copy()

list_products = list(np.sort(data.product_id_code.unique()))
n_products = len(list_products)
list_users = list(np.sort(user_data.user_id_code.unique()))
n_users = len(list_users)

products = user_data.product_id_code.astype(int)
views = user_data.views.astype(int)

In [9]:
print("number of users:", n_users)
print("number of products:", n_products)

number of users: 1
number of products: 111591

In [10]:
views

338    6
Name: views, dtype: int32

In [11]:
products

338    37891
Name: product_id_code, dtype: int32

In [12]:
user_items_matrix = sparse.csr_matrix((views, ([0], products)), shape=(n_users, n_products), dtype=np.int16)
items_user_matrix = sparse.csr_matrix((views, (products, [0])), shape=(n_products, n_users), dtype=np.int32)
user_items_matrix.count_nonzero()

1

In [13]:
model = pickle.load(open("model.sav", 'rb'))

In [22]:
# Use the implicit recommender.
recommended = model.recommend(0, user_items_matrix, N=n_products, recalculate_user=True)

product_ids = []
product_names = []
scores = []

# Get artist names from ids
for idx, score in recommended:
    try:
        product_names.append(data.name.loc[data.product_id_code == idx].iloc[0])
        scores.append(score)
        product_ids.append(idx)
    except Exception as e:
        continue

# Create a dataframe of artist names and scores

recommendations = pd.DataFrame({'product_id': product_ids, 'product_name': product_names, 'score': scores})
recommendations["scaled_score"] = min_max.fit_transform(np.array(recommendations.score).reshape(-1,1))
recommendations

,product_id,product_name,score,scaled_score
0,70473,quan dai jean zara kids 2,1.301882e-14,1.000000
1,46456,den than thoi la sang cuc doc,1.196249e-14,0.924118
2,13128,dam vest vien mau,9.791756e-15,0.768181
3,58980,set nguyen bo ao peplum co v dap cheo quan hj208,7.386551e-15,0.595401
4,23003,giay cao got zara 8p,7.148969e-15,0.578334
...,...,...,...,...
111219,90684,kms ao co tru tay lai thuyen,-8.995703e-16,0.000160
111220,105251,ao phong gia dinh,-8.996258e-16,0.000156
111221,98983,ma dn3044 giay nam dang nhat phong cach,-9.006983e-16,0.000079
111222,35387,lac chan hai tang trai tim titan khong den,-9.010945e-16,0.000050
111223,56201,quan tat vnxk cao cap,-9.017944e-16,0.000000

In [15]:
data.name.loc[data.product_id_code == 111644]

Series([], Name: name, dtype: object)

In [19]:
len(data.product_id_code.unique())

111591

In [23]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:123456@localhost:3306/sendo')

In [50]:
test_df = pd.read_sql("SELECT COUNT(id) as len FROM product", engine)

In [51]:
test_df

      len
0  638408

In [32]:
test_df.values[0][0]

638408

In [35]:
user_id=37
user_id = pd.read_sql("SELECT id, user_id FROM user WHERE id={}".format(user_id), engine).user_id.values[0]
user_events = pd.read_sql("SELECT * FROM event WHERE user_id='{}'".format(user_id), engine)

In [36]:
user_id

'82FE2DD80964E2CFCEED63ECE307355E'

In [37]:
user_events

,time,user_id,product_id,belong_cate_lvl3_id,id
0,2016-03-31 00:02:37,82FE2DD80964E2CFCEED63ECE307355E,2713392,732,55

In [62]:
products = pd.read_sql("SELECT COUNT(id) as n FROM product", engine)
n_products = products.n.values[0]

In [77]:
user_id=37
user_id = pd.read_sql("SELECT id, user_id FROM user WHERE id={}".format(user_id), engine).user_id.values[0]
user_events = pd.read_sql("SELECT * FROM event WHERE user_id='{}'".format(user_id),engine)
user_events["views"] = 1
user_events = user_events.groupby(["user_id", "product_id", "belong_cate_lvl3_id"]).sum().reset_index()
user_events["product_id"] = user_events["product_id"].apply(lambda x: pd.read_sql("SELECT id FROM product WHERE product_id={}".format(int(x)), engine).id.values[0])
products = user_events.product_id.astype(int)
views = user_events.views.astype(int)
users = user_events.views.apply(lambda x: 0).astype(int)

In [78]:
user_events

,user_id,product_id,belong_cate_lvl3_id,id,views
0,E75BE78B27202F572B992E0F8F418BCE,130586,1711,793,1
1,E75BE78B27202F572B992E0F8F418BCE,184060,1711,778,1
2,E75BE78B27202F572B992E0F8F418BCE,184392,1672,55,1
3,E75BE78B27202F572B992E0F8F418BCE,214029,1711,757,1
4,E75BE78B27202F572B992E0F8F418BCE,219054,1711,766,1
5,E75BE78B27202F572B992E0F8F418BCE,241447,1711,761,1
6,E75BE78B27202F572B992E0F8F418BCE,283437,1711,726,1
7,E75BE78B27202F572B992E0F8F418BCE,283709,1672,65,1
8,E75BE78B27202F572B992E0F8F418BCE,316725,1711,775,1
9,E75BE78B27202F572B992E0F8F418BCE,331930,645,1493594,1
10,E75BE78B27202F572B992E0F8F418BCE,341137,1672,76,1

In [79]:
n_products

638408

In [80]:
users

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
Name: views, dtype: int32

In [81]:
products

0     130586
1     184060
2     184392
3     214029
4     219054
5     241447
6     283437
7     283709
8     316725
9     331930
10    341137
Name: product_id, dtype: int32

In [82]:
views

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
Name: views, dtype: int32

In [83]:
user_items_matrix = sparse.csr_matrix((views, (users, products)), shape=(1, n_products), dtype=np.int16)

In [67]:
0*len(products)

0

In [72]:
list(0*len(products))

TypeError: 'int' object is not iterable

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]